@model CrearPresupuestoViewModel
<h2>Crear presupuesto</h2>
<form asp-action="CrearPresupuesto" asp-controller="Presupuesto" method="post">
    <div class="form-group">
        <label for="clienteSeleccionado">Nombre</label>
        <select id="clienteSeleccionado" asp-for="ClienteSeleccionado" class="form-control" required>
            <option value="" selected>Seleccione un cliente</option>
            @foreach (var cliente in Model.Clientes)
            {
                <option value="@cliente.ClienteId">@cliente.Nombre</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="fechaCreacion">Fecha</label>
        <input id="fechaCreacion" class="form-control" type="datetime-local"
            value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" readonly />
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Crear Presupuesto</button>
        <a asp-action="Listar" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
