@model List<Producto>
@{
    ViewData["Title"] = "Lista de productos";
}
<h1>@ViewData["Title"]</h1>
<p>
    <ul>
        @foreach (var producto in Model)
        {
            <li>@(producto.Descripcion)</li>
        }
    </ul>
</p>
